<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>

    <script src="bower_components/phaser/build/phaser.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="lib/socket.io.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

    <script src="src/g.js"> </script>
    <script src="src/grid.js"> </script>
    <script src="src/floatingtext.js"> </script>
    <script src="src/point.js"> </script>
    <script src="src/unitlayer.js"> </script>
    <script src="src/tile.js"> </script>
    <script src="src/buildings.js"> </script>
    <script src="src/interactable.js"> </script>
    <script src="src/resources.js"> </script>
    <script src="src/unit.js"> </script>
    <script src="src/builder.js"> </script>
    <script src="src/gamemap.js"> </script>
    <script src="src/terrain.js"> </script>

    <script src="src/main.js"> </script>

    <script id="action-button" type="text/template">
      <button type="button">
        <%= action %>
      </button>
    </script>

    <script id="resource-bar-template" type="text/template">
      ore: <%= ore %>
      trees: <%= trees %>
      marsh: <%= marsh %>
      fish: <%= fish %>
    </script>


    <script id="bottom-bar-template" type="text/template">
      <div class="bottom-bar">
        <div class="title"> <%= heading %> </div>

        <div class="actions"> </div>
      </div>
    </script>
  </head>
  <body>
    <div id="resource-bar">

    </div>

    <div id="main">

    </div>

    <div id="bottom-bar">

    </div>
  </body>
</html>